* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #dddddd;
}

button {
  padding: 10px 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 40px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 25px 0;
  margin-inline: auto;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
}
